.list {
	position: relative;
	background-color: grey;
	height: 90%;
	width: 90%;
	overflow-y: auto;
	float: left;
	margin: 10px;
	padding: 10px;
	width: 270px;
	white-space: initial;
}

.list-title {
	color: black;
	font-weight: bold;
	font-size: 24px;
	width: 100%;
	margin: 10px 5px;
}

.yello-btn {
	height: 15px;
    width: 15px;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}


.material-icons {
	color: white;
}